<div class="d-flex flex-row ma-2">
    <div class="w-auto">
        {% if user.user_avatar_path %}
            <img src="{{ url_for('static', filename='images/' ~ user.user_avatar_path) }}" class="w-8 rounded-full">
        {% endif %}
    </div>
    <form action="{{ url_for('api_create_post') }}" mix-post class="d-flex flex-col w-full ml-2">
        {% include "___post_message.html" %}
        <button mix-default="Post" mix-await="Posting ..." 
        class="w-auto ml-auto mt-2 bg-c-black text-c-white py-2 px-12 rounded-xl">
            Post
        </button>
    </form>
</div>

<div id="posts">

    {% for tweet in tweets: %}
        {% include "_tweet.html" %}
    {% endfor %}
</div>