<div class="d-flex a-items-center">
    {% if suggestions.user_avatar_path %}
        <img src="{{ url_for('static', filename='images/' ~ suggestions.user_avatar_path) }}" alt="Profile Picture" class="w-8 h-8 rounded-full">
    {% endif %}
    <div class="w-full ml-2">
        <p class="">{{ suggestions.user_first_name }} <span class="text-c-gray:+20 text-70">@{{ suggestions.user_username }}</span></p>
    </div>

    <button class="px-4 py-1 text-c-white bg-c-black rounded-lg">Follow</button>
</div>